body{
    background: #f3f3f3;
    text-align: center;
}
h1 {
    margin: 25px;
    font-size: 40px;
    font-family: "sans-serif";
}
form {
    background-color: #dcd5d5;
    border-radius: 15px;
    box-shadow: -3px 3px 15px 0px #555;
    width: 20%;
    padding: 30px;
    /*background:none;*/
    margin: 0 auto;
    align-items: center;
}
label {
    display: block;
    width: 100%;
    font-size: 25px;
}
input {
    margin-bottom: 10%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid cyan;
}
input[type="submit"] {
    width: 100px;
    margin-bottom: 0;
    background: #1668c4;
    color: ivory;
    border: none;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background: #4a88f4;
    cursor:pointer;
}

#regreso{
    margin: 50px;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    text-size: 20px;
}

.error {
    color: red;
    margin-top: 10px;
}